.movie-card{
  width: 90%;
  height: auto;
  background-color: rgb(183, 228, 228);
  text-align: center;
  padding: 10px;
  margin: 10px;
  border-radius: 10px;
  display: inline-block;
  margin-left: 50px;
}
.App h1{
  text-shadow: -2px 2px 0 #292322,
  -4px 4px 0 #f60,
  -6px 6px 0 #292322,
  -8px 8px 0 #fc0;
  text-align: center;
  letter-spacing: 4px;
}
.movie-card img{
  width: 50%;
  height: 50%;
  border-radius: 20px;
}
.movie-card h1{
  text-align: center;
  color:rgb(17, 201, 225);
}
.summary-btn{
  padding: 10px 20px;
  border: 2px solid gray ;
  border-radius: 10px;
  margin: 5px;
}
.summary-btn:hover{
  cursor: pointer;
  color: white;
  background-color: gray;
  
 }
 
.movie-card p{
  width: 70%;
  text-align: center;
  margin-left: 17%;
  color: rgb(103, 87, 67);
}
form {
  text-align: center;
  width: 60%;
  height: auto;
  background-color: rgb(101, 201, 96);
  margin-left: 20%;
  border-radius: 10px;
  padding: 20px;
}
 
form button{
  padding: 10px 20px ;
  margin: 20px;
}